.progressBar {
    animation-name: progress-bar;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-play-state: running;
}

@keyframes progress-bar {
    0% {
        width:100%;
    }
    
    100% {
        width:0%;
    }
}